:root {
  --dark-purple: rgb(128, 0, 128);
  --pink: rgb(229,204,229);
  --light-purple: rgb(209,163,209);
}

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body,
html {
  padding: 3px 3px 3px 3px;

  background-color: var(--pink);

  font-family: Verdana, sans-serif;
  font-size: 11pt;
  text-align: center;
}

div.main_page {
  position: relative;
  display: table;

  width: 800px;

  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  
  border-radius: 10px;

  background-color: var(--light-purple);

  text-align: center;
}

div.page_header {
  height: 99px;
  width: 100%;
  
  border-radius: 10px;
  background-color: var(--dark-purple);
}

div.page_header span {
  margin: 15px 0px 0px 50px;

  font-size: 180%;
  font-weight: bold;
}

div.page_header img {
  margin: 3px 0px 0px 40px;

  border: 0px 0px 0px;
}

div.table_of_contents_item a {
  margin: 6px 0px 0px 6px;
}

div.content_section {
  margin: 3px 3px 3px 3px;
  border-radius: 10px;

  background-color: whitesmoke;

  text-align: left;
}

div.content_section_text {
  padding: 4px 8px 4px 8px;

  color: #000000;
  font-size: 100%;
}

div.content_section_text pre {
  margin: 8px 0px 8px 0px;
  padding: 8px 8px 8px 8px;

  border-width: 1px;
  border-style: dotted;
  border-color: #000000;

  background-color: #f5f6f7;

  font-style: italic;
}

div.content_section_text p {
  margin-bottom: 6px;
}

div.content_section_text ul,
div.content_section_text li {
  padding: 4px 8px 4px 16px;
}

div.section_header {
  padding: 3px 6px 3px 6px;

  background-color: #8e9cb2;

  color: #ffffff;
  font-weight: bold;
  font-size: 112%;
  text-align: center;
}

div.section_header_red {
  background-color: var(--dark-purple);
}

div.section_header_grey {
  background-color: #9f9386;
}

.floating_element {
  position: relative;
  float: left;
}

div.table_of_contents_item a,
div.content_section_text a {
  text-decoration: none;
  font-weight: bold;
}

div.table_of_contents_item a:link,
div.table_of_contents_item a:visited,
div.table_of_contents_item a:active {
  color: #000000;
}

div.table_of_contents_item a:hover {
  background-color: #000000;

  color: #ffffff;
}

div.content_section_text a:link,
div.content_section_text a:visited,
div.content_section_text a:active {
  background-color: #dcdfe6;

  color: #000000;
}

div.content_section_text a:hover {
  background-color: #000000;

  color: #dcdfe6;
}

div.validator {
}
